<p id="notice"><%= notice %></p>

<p>
  <b>Carmodel:</b>
  <%= @car.carmodel %>
</p>

<p>
  <b>Price:</b>
  <%= @car.price %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>User:</b>
  <%= @car.user_id %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
